################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE_032025.ConsoleApp/.vs/BE_032025.ConsoleApp
